/*--------------------------------GENERAL PROPERTIES-------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
   background-color: #fafafa;
   display: flex;
   flex-direction: column;
}

section, header, footer {
    max-width: 1366px;
    margin: 0 auto;
}

/*--------------------------------WEB HEADER-----------------------------------------------*/
.web-header {
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    height: 60px;
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    align-self: center
}

.header-container {  
    align-self: center;  
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.nav-link {
    text-align: left;
    text-decoration: none;
    font-size: 18px;
    line-height: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    margin: 17px 33px 22px 0;
    color: #CBD0D3;
}

.is-active {
    color: #2A3037
}

/*--------------------------------------------COVER-------------------------------------*/

.cover {
    background-image: url(Assets/img/Viajes_Hero.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.cover article {
    width: 720px;
    height: 214px;
    position: absolute;
    top: 277px;
    left: 110px;
}

.cover-header {
    display: flex;
    align-items: center;
}

.pin {
    width: 23.8px;
    height: 34px
}

.cover-title {
    text-align: left;
    font-size: 48px;
    line-height: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin: 0 17.5px
}

.divider {
    border: 2px solid #FFFFFF;
    width: 536px;
    margin: 30.6px 0 23.36px 0;
    background-color: #FFFFFF;
}

.cover-subtitle {
    text-align: left;
    font-size: 24px;
    line-height: 34px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.cover-text {
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 535.7px;
    height: 60.63px;
}

.cover-slider {
    position: absolute;
    left: 0;
    bottom: 70px
}

.slider-line {
    position: absolute;
    bottom: 0;
    border: 2px solid #FA6980;
    background-color: #FA6980;
    width: 120px;
    z-index: 1;
}

.slider-back-circle {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    bottom: -25px;
    left: 100px
}

.slider-front-circle {
    position: absolute;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    bottom: -16px;
    left: 110px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-front-circle span {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

.next-cover-container {
    width: 260px;
    height: 157px;
    background-color: rgba(42, 48, 55, 0.5);
    border: 2px dashed #FFFFFF;
    border-radius: 6px;
    position: absolute;
    bottom: 70px;
    left: 967px;
}

.next-link {
    margin: 27px 30px 29px 30px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.next-article {
    display: flex;
    margin-bottom: 12px;
    align-items: baseline;
}

.next-title {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    color: #FA6980;
    margin: 0 16px 0 0px;
}

.arrow {
    width: 6px;
    height: 10px;
}

.next-subtitle {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin: 0
}

.next-text {
    text-align: left;
    font: normal normal 300 14px/22px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 11px;
}
/*--------------------------------------TENDENCIAS------------------------------------------*/

.tendencias {
    background-color: #EBEBEB;
    height: 90vh;
}

.section-title {
    text-align: left;
    font: normal normal bold 24px/20px Montserrat;
    letter-spacing: 0px;
    color: #2A3037;
    margin-left: 8px;
}

.tendencias-container {    
    padding: 80px 95px;
}

.tendencias-cards-container {
    display: flex;
}

.first-card-img {
    background-image: url(Assets/img/card_01.png);
    background-size: cover;
}

.new-article {
    background: #FA6980 0% 0% no-repeat padding-box;
    border-radius: 6px;
    height: 32px;
    width: 83px;
    text-align: left;
    font: normal normal bold 16px/13px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 165px;
    left: 35px;
}

.new-article-text {
    align-self: center;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    margin: 40px 28px 0 8px;
    width: 352px;
    height: 314px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card-description {
    padding: 33px;
    display: flex;    
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.card-title {
    text-align: left;
    font: normal normal bold 16px/20px Montserrat;
    letter-spacing: 0px;
    color: #2A3037;
}

.card-text {
    text-align: left;
    font: normal normal normal 13px/23px Montserrat;
    letter-spacing: 0px;
    color: #7A838D;
}

.card-text span {
    font-weight: bold;
}

/*-------------------------------------BLOG---------------------------------------*/

.blog {
    position: relative;
    z-index: 1;
    background-color: transparent;
    margin-top: -110px;
}

.blog-container {
    padding: 0 95px;
}

.blog-entries {
    display: flex;
    margin: 40px 8px 0 8px;
}
.recent-article {
    border-radius: 6px;
}

.first-article {
    background: transparent url(Assets/img/articulo_big_01.png) 0% 0% no-repeat padding-box;
}

.second-article {
    background: transparent url(Assets/img/articulo_big_02.png) 0% 0% no-repeat padding-box;
}

.recent-article-title {
    text-align: left;
    font: normal normal bold 16px/20px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.recent-article-subtitle {
    text-align: left;
    font: normal normal bold 24px/34px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.recent-article-text {
    text-align: left;
    font: normal normal normal 16px/26px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.clock-img {
    background: transparent url('img/time.png') 0% 0% no-repeat padding-box;
}

.article-timestamp {
    text-align: left;
    font: normal normal normal 13px/26px Montserrat;
    letter-spacing: 0px;
    color: #CBD0D3;
}

.older-article {
    color: #202124;
}

.older-img {
    width: 352px;
    height: 210px
}

.first-img {
    background: transparent url(Assets/img/articulo_small_01.png) 0% 0% no-repeat padding-box;
}

.second-img {
    background: transparent url(Assets/img/articulo_small_02.png) 0% 0% no-repeat padding-box;
}

.third-img {
    background: transparent url(Assets/img/articulo_small_03.png) 0% 0% no-repeat padding-box;
}

.older-article-title {
    text-align: left;
    font: normal normal bold 16px/26px Montserrat;
    letter-spacing: 0px;
}

footer {
    background: #2A3037 0% 0% no-repeat padding-box;
}
