/*-------------------------------------------GENERAL -------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
   background-color: #fafafa;
   display: flex;
   flex-direction: column;
}

section, header, footer {
    max-width: 1366px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*--------------------------------WEB HEADER-----------------------------------------------*/
.web-header {
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    height: 8.5vh;
    display: flex;
    position: fixed;
    z-index: 3;
    width: 100%;
    margin: 0 auto;
    align-self: center
}

.header-container {  
    align-self: center;  
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.nav-link {
    font-size: 18px;
    line-height: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    margin-right: 33px;
    color: #CBD0D3;
}

.nav-link:hover, .nav-link:focus {
    color: #2A3037
}

.hamburger-menu {
    display: none;
}

/*--------------------------------------------COVER-------------------------------------*/
.cover {
    background-image: url(Assets/img/Viajes_Hero.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.cover article {
    width: 53%;
    height: 35%;
    position: absolute;
    top: 38%;
    left: 8%;
}

.cover-header {
    display: flex;
    align-items: center;
}

.pin {
    width: 1.5em;
    height: 2.2em;
}

.cover-title {
    font-size: 3em;
    line-height: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-left: 17.5px;
}

.divider {
    border: 1.5px solid #FFFFFF;
    width: 74%;
    margin: 30.6px 0 23.36px 0;
    background-color: #FFFFFF;
}

.cover-subtitle {
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 20px;;
}

.cover-text {
    font-size: 1em;
    line-height: 1.6em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 535.7px;
    width: 74%;
    height: fit-content;
}

.cover-slider {
    position: absolute;
    left: 0;
    bottom: 10%
}

.slider-line {
    position: absolute;
    bottom: 0;
    border: 2px solid #FA6980;
    background-color: #FA6980;
    width: 120px;
    z-index: 1;
}

.slider-back-circle {
    position: absolute;
    background-color: #ffffff80;
    width: 3.4em;
    height: 3.4em;
    border-radius: 50%;
    bottom: -25px;
    left: 100px
}

.slider-front-circle {
    position: absolute;
    background-color: #ffffff;
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    bottom: -16px;
    left: 110px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-front-circle span {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 0.9em;
    font-weight: 700;
}

.next-cover-container {
    width: 260px;
    height: 157px;
    background-color: #2a303780;
    border: 2px dashed #FFFFFF;
    border-radius: 6px;
    position: absolute;
    bottom: 9.5%;
    left: 70.8%;
}

.next-link {
    margin: 27px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.next-title-icon {
    display: flex;
    margin-bottom: 12px;
    align-items: baseline;
}

.next-title {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    color: #FA6980;
    margin: 0 16px 0 0px;
}

.arrow {
    width: 6px;
    height: 10px;
}

.next-subtitle {
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin: 0
}

.next-text {
    font-size: 14px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 11px;
}
/*--------------------------------------TENDENCIAS------------------------------------------*/

.tendencias {
    background-color: #EBEBEB;
    height: 750px;
}

.section-title {
    font-size: 24px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
    color: #2A3037;
    margin-left: 8px;
}

.tendencias-container {    
    padding: 80px 95px;
}

.tendencias-cards-container {
    display: flex;
}

.tendencias-new {
    background: #FA6980;
    border-radius: 6px;
    height: 32px;
    width: 83px;
    font-size: 16px;
    line-height: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 165px;
    left: 35px;
}

.tendencias-new-text {
    align-self: center;
}

.tendencias-card {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    margin: 40px 28px 0 8px;
    width: 352px;
    height: 314px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tendencias-first-img, .tendencias-second-img, .tendencias-third-img {
    height: 57.4%;
}

.tendencias-first-img {    
    background-image: url(Assets/img/card_01.png);
}

.tendencias-second-img{
    background-image: url(Assets/img/card_02.png);
}

.tendencias-third-img {
    background-image: url(Assets/img/card_03.png);
}

.tendencias-card-description {
    padding: 33px;
    display: flex;    
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.tendencias-card-title {
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
    color: #2A3037;
}

.tendencias-card-text {
    font-size: 13px;
    line-height: 23px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    color: #7A838D;
}

.tendencias-card-text span {
    font-weight: 700;
}

/*-------------------------------------BLOG---------------------------------------*/

.blog {
    position: relative;
    z-index: 1;
    background-color: transparent;
    margin-top: -190px;
}

.blog-container {
    padding: 0 95px;
}

.blog-entries {
    display: flex;
}

.blog-recent-entries, .blog-older-entries {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/*--------------------------------Recent entries----------------------------------*/

.blog-recent-entry {
    border-radius: 6px;
    width: 676px;
    height: 343.2px;
    padding: 40px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 8px;
}

.blog-first-entry {
    background-image: url(Assets/img/articulo_big_01.png);
}

.blog-second-entry {
    background-image: url(Assets/img/articulo_big_02.png)
}

.blog-recent-title {
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.blog-recent-subtitle {
    font-size: 24px;
    line-height: 34px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.blog-recent-text {
    font-size: 16px;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

/*---------------------------------------------Older entries------------------------------------*/

.blog-older-entry {
    color: #202124;
    margin: 20px 8px;
    width: 352px;
    height: 272px;    
}

.blog-older-entry a {
    color: #232323
}

.blog-older-img {
    width: 352px;
    height: 210px;
}

.blog-older-title {
    font-size: 16px;
    line-height: 26px;
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
}

.entry-timestamp {
    font-size: 13px;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0px;
    color: #CBD0D3;
    display: flex;
    align-items: center;
}

.entry-timestamp img {
    margin-right: 5px
}
/*----------------------------------------FOOTER------------------------------------------------*/

footer {
    background-color: #2A3037;
    height: 60px;
    display: flex;
    width: 100%;
    align-self: center;
    height: 96px;
    }

.footer-container {  
    align-self: center;  
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.rrss {
    width: 51px;
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
}

/*---------------------------------------MEDIA QUERIES--------------------------------------*/

/*-------------------------Breakpoint 1300px-----------------------------------------*/

@media screen and (max-width: 1300px) {

    section, header, footer {
        max-width: 1024px;
        margin: 0 auto;
    }

/*--------------------------------------------COVER-------------------------------------*/

    .cover {
        background-image: url(Assets/img/Viajes_Hero.jpg);
        background-position: 30%;
        height: 100vh;
        position: relative;
    }

    .cover article {
        position: absolute;
        top: 30%;
    }

    .next-cover-container {
        width: 260px;
        height: 157px;
        background-color: #2a303780;
        border: 2px dashed #FFFFFF;
        border-radius: 6px;
        position: absolute;
        bottom: 70px;
        left: 700px;
    }

/*-------------------------------------BLOG---------------------------------------*/

    .blog-entries {
        display: flex;
        justify-content: center;
    }

/*---------------------------------Older entries---------------------------------*/

    .blog-older-entries {
        display: none;
    }
}

/*------------------------------------------Breakpoint 1000px---------------------------------*/

@media screen and (max-width: 1000px) {
/*-------------------------------------------GENERAL -------------------------------------*/
    section, header, footer {
        max-width: 768px;
        margin: 0 auto;
    }

/*----------------------------------------WEB HEADER--------------------------------------*/

    .header-container {
        width: 90%;
    }

    .desktop-nav {
        display: none;
    }

    .logo {
        height: 15px;
        width: 82px;
    }

    .hamburger-menu {
        display: block;
    }

    .menu-toggle
    {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }

    .menu-toggle .menu {
        cursor: pointer;
    }

    .menu-toggle a
    {
        color: #232323;
    }

    .menu-toggle img {
        transition: all 0.5 ease-in;
    }

    .menu-toggle button {
        border: none;
        background-color: transparent;
    }

    .close-icon {
        position: absolute;
        right: 2px;
    }

    .menu
    {
        position: absolute;
        display: flex;
        left: 0;
        width: 100%;
        height: 100vh;
        transition: all 0.5s ease;
    }

    .dark-side-menu {
        width: 40%;
        height: 110vh;
        background-color: #2A3037;
        position: relative;
        z-index: 4;
        opacity: 0.65;
        bottom: 50px;
    }

    .menu-links {
        width: 60%;
        height: 110vh;
        background-color: #ffffff;
        position: relative;
        bottom: 50px;
        list-style-type: none;
        padding: 50px;
        padding-top: 90px;
    }

    .menu li
    {
        padding: 10px 0;
    }

    .nav-link {    
        font-size: 18px;  
        line-height: 13px;
        color: #232323;
        font-weight: 500;
    }

    .hidden {
        opacity: 0;    
    }

/*--------------------------------------------COVER-------------------------------------*/

    .cover article {
        width: unset;
    } 

    .next-cover-container {
        display: none;
    }

    .cover-title {
        font-size: 30px;
        line-height: 24px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin: 0 17.5px
    }

/*-------------------------------TENDENCIAS-----------------------------------*/

    .tendencias-third-card {
        display: none;
    }

/*-------------------------------BLOG----------------------------------------*/
/*---------------------------Recent entries----------------------------------*/

    .blog-recent-entry {
        width: unset;
        background-position: 50%
    }

/*------------------------------FOOTER---------------------------------------*/
    footer {
        margin: 0
    }

    .footer-container {
        width: 90%;
    }

    .rrss {
        margin-right: unset
    }
    }

/*---------------------------------Breakpoint 710px-----------------------------*/

@media screen and (max-width: 710px) {

/*------------------------------------GENERAL-----------------------------------*/

    section, header, footer {
        max-width: 540px;
        margin: 0 auto;
    }


/*--------------------------------------------COVER-------------------------------------*/

    .cover article {
        width: 80%;
        top: 350px;
        left: 50px;
    }

    .pin {
        height: 24px;
        width: 18px;
    }

    .cover-title {
        font-size: 30px;
        line-height: 24px;
    }

    .cover-text {
        font-size: 20px;
        line-height: 34px;
    }

    .cover-text {
        display: none;
    }

    .divider {
        width: 100%
    }

    .slider-line {
        width: 50px
    }

    .slider-back-circle {
        left: 40px
    }

    .slider-front-circle {
        left: 50px
    }

/*-------------------------------TENDENCIAS-----------------------------------*/

    .tendencias-second-card {
        display: none;
    }
/*-------------------------------BLOG----------------------------------------*/

/*---------------------------Recent entry----------------------------------*/

    .blog-recent-text {
        display: none;
    }

}

/*-------------------------------------Breakpoint 430px-------------------------*/
@media screen and (max-width: 430px) {

/*--------------------------------GENERAL--------------------------------------*/
    section, header, footer {
        max-width: 360px;
        margin: 0 auto;
    }

/*--------------------------------WEB HEADER----------------------------------*/

    .header-container, .footer-container {
        width: 80%
    }

/*--------------------------------------------COVER-----------------------------*/

    .cover {
        background-position-x: 38%;
    }

    .cover article {
        width: 88%;
        top: 310px;
        left: 35px;
    }

    .pin {
        height: 18px;
        width: 12px;
    }

    .cover-title {
        font-size: 24px;
        line-height: 42PX;
        margin-left: 10px
    }

    .cover-subtitle {
        width: 80%;
        font-size: 20px;
        line-height: 34px;
    }

    .divider {
        width: 78%;
        margin: 10px 0;
    }

/*-------------------------------TENDENCIAS-----------------------------------*/

    .tendencias-container {    
        padding: 80px 35px;
    }

    .tendencias-card {
        margin: 40px auto;
    }

/*------------------------------BLOG-----------------------------------*/
    .blog h2 {
        margin-left: 43px
    }

    .blog-container {
        padding: 0;
    }

    .blog-entries {
        flex-direction: column;
    }

    .blog-recent-entry {
        margin: 20px 0px;
        align-self: stretch;
    }
}